{
  "presets": [
    ["@babel/env", {
      "targets": "> 0.25%, not dead"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": "current" }
        }]
      ]
    }
  }
}
