{
  "presets": [
    "@babel/env"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/env", {
          targets: "> 0.25%, not dead"
        }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          targets: {
            node: "current"
          }
        }]
      ]
    }
  }
}
